<launch>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find jaguar_navigation)/config/jaguar.yaml" />
    <rosparam command="load" file="$(find jaguar_navigation)/config/sensor_processors/jaguar_stereo_camera.yaml" />
  </node>

  <node pkg="jaguar_navigation" type="pose_for_odom.py" name="pose_for_odom" output="screen">
    <param name="odom_topic" type="string" value="/odom/perfect" />
  </node>



</launch>