<?xml version="1.0"?>
<launch>

  <arg name="rulah_simulation" default="false"/>
  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="3D_enabled" default="true"/>
  <!-- Load robot description -->
  <!--<include file="$(find jaguar_description)/launch/description.launch" />-->

  <group if="$(arg rulah_simulation)">
    <include file="$(find jaguar_gazebo)/launch/multimaster_jaguar.launch">
      <arg name="gazebo_interface" value="$(find jaguar_control)/config/gazebo_interface.yaml" />
      <arg name="public_interface" value="$(find jaguar_control)/config/public_interface.yaml" />
      <arg name="simulation" value="$(arg simulation)"/>
    </include>
  </group>

  <rosparam command="load" file="$(find jaguar_control)/config/control.yaml" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="jaguar_joint_publisher jaguar_velocity_controller --shutdown-timeout 3" output="screen"/>

  <!--Start outdoor EKF localization (GPS-IMU-Zed-Jaguar odom)-->

  <include file="$(find jaguar_control)/launch/gps_transform.launch" />

   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
  <rosparam command="load" file="$(find jaguar_control)/config/outdoor_localization.yaml" />
  </node>

<!--
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
-->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find jaguar_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="jaguar_velocity_controller/cmd_vel"/>
  </node>

</launch>
